body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #6b7280;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 6fr;
    
}

/* for header */

.header {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
    background-color: #7c2d12;
    grid-column: 1 / 3;

}

.header-icon {
    height: 50px;
    width: 50px;
}

.top-left {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 8px;
    align-items: center;
}

.content-container {
    display: grid;
    grid-template-rows: 1fr 4fr
}

.title {
    text-align: center;
}

.sidebar {
    background-color: navy;
    display: grid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, .3fr));
    grid-template-rows: repeat(2, 1fr);
    grid-template: 15px;
    margin: 15px;
    grid-row: 2;
    gap: 8px;
    color: black;
}

.card {
    display: grid;
    background-color: #fff;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-icons {
    display: grid;
    justify-content: end;
}

.trash:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.trash:active {
    transform: scale(0.95);
}





