body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #6b7280;
    color: #fff;
}

.container {
    display: grid;
}

/* for header */

.header {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
    background-color: #7c2d12;
}

.header-icon {
    height: 50px;
    width: 50px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: navy;
}

.title-container {
    display: grid;
    justify-content: center;
}

